*, ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-rows: 2;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

.image-box1{
    position: relative;
    height:60vh;
}

span{
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 3em;
    font-weight: 700;
    color: purple;
    font-family:'Times New Roman', Times, serif;
}

.text-box{
    background: linear-gradient(to bottom, purple, rgb(221, 44, 221));
    color: whitesmoke;
    padding: 30px;
    font-size: 2em;
    font-family:'Times New Roman', Times, serif;
    height:60vh;
    text-align: center;
}

img{
    width: 100%;
    height: inherit;
}